<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <link
        rel="stylesheet"
        href="../styles/options.css"
    >
    <title>PR Tricks Options</title>
</head>

<body>
    <h1>PR Tricks Options</h1>
    <hr />

    <section>
        <section class="job-rules">
            <!--Configuration des analyses selon le metier. Exemple: Banque, Commerce...-->
            <h2>Règles métiers</h2>
            <!-- list fill auto -->
            <ul id="activeLists"></ul>

            <h3>Ajouter une trickList externe :</h3>
            <div class="form">
                <div class="form-name">
                    <label for="name-url">
                        Entrez le nom de votre tricks :
                    </label>
                    <input
                        type="text"
                        id="name-url"
                        name="url"
                    >
                </div>
                <div class="form-url">
                    <label for="url">
                        Tapez une URL :
                    </label>
                    <input
                        type="text"
                        id="url"
                        name="url"
                    >
                </div>
                <button
                    type="submit"
                    id="url-submit"
                    class="url-submit"
                >
                    Ok
                </button>
            </div>
            <label for="local">Ajoutez un fichier : </label>
            <input
                type="file"
                id="local"
                name="local"
            >
        </section>
        <hr />

        <section>
            <h2>Système de formation</h2>
            <!--Filtre de regles d'organisation-->
            <input
                type="checkbox"
                id="formation"
                name="formation"
            />
            <label for="formation">Mode formation</label>
            <br>
            <input
                type="checkbox"
                id="details"
                name="details"
            />
            <label for="details">Afficher les détails</label>
        </section>
        <h2>Catégories</h2>
        <section id="categories">

        </section>
        <hr />

        <section>
            <h2>Couleur du thème</h2>
            <label for="color">Thème: </label>
            <input
                type="color"
                id="color"
                value="#FF0000"
            >
            </select>
        </section>
        <hr />

        <section>
            <h2>Règles d'organisation</h2>
            <!--Configuration des analyses selon les preferences du developpeur. 
          Exemple: afficher les if, les else, autre chose-->
            <label for="reset">Appliquer les paramètres par défaut : </label>
            <input
                type="button"
                id="reset-storage"
                name="reset"
                value="Restaurer"
            >
        </section>
    </section>
    <hr />

    <div id="submit">
        <button id="save">Sauvegarder</button>
        <p id="status"></p>
    </div>

    <script src="../trick-list-options.js"></script>
</body>

</html>