<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
        rel="stylesheet"
        href="../styles/options.css"
    >
    <title>PR Tricks Options</title>
</head>

<body>
    <h1>PR Tricks Options</h1>
    <hr />

    <section>
        <section>
            <h2>Listes de tricks chargées</h2>
            <!-- list fill auto -->
            <ul id="activeLists"></ul>

            <h3>Ajouter une liste externe :</h3>
            <label for="name-url">
                Entrez le nom de votre liste :
            </label>
            <input
                type="text"
                id="name-url"
                name="url"
            >
            <br>
            <label for="url">
                Tapez une URL :
            </label>
            <input
                type="text"
                id="url"
                name="url"
            >
            <input
                type="button"
                id="url-submit"
                class="url-submit"
                value="OK"
            >
            <br>
        </section>
        <hr />
        <h2>Personnalisation</h2>
            <input
                type="checkbox"
                id="formation"
                name="formation"
            />
            <label for="formation">Personnaliser les tricks</label>
            <br>
        <section id="categories"></section>
        <hr />
        
        <section>
            <h2>Couleur du thème</h2>
            <label for="color">Thème: </label>
            <input
                type="color"
                id="color"
                value="#B9C1DF"
            >
            </select>
        </section>
        <hr />

        <section>
            <h2>Paramètres</h2>
            <label for="reset">Réinitialiser le plugin aux valeurs par défaut : </label>
            <input
                type="button"
                id="reset-storage"
                name="reset"
                value="Restaurer"
            >
        </section>
    </section>
    <hr />

    <script src="../trick-list-options.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
