<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet"
        href="../styles/boostrap.min.css"
    >
    <link
        rel="stylesheet"
        href="../styles/options.css"
    >
    <title>PR Tricks Options</title>
</head>

<body>
    <div class="accordion container" id="accordionOfOptions">
        <div class="accordion-item row">
          <h2 class="accordion-header container" id="headingOne">
              <div class="row">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Liste des trickList
                  </button>
              </div>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show container" aria-labelledby="headingOne" data-bs-parent="#accordionOfOptions">
            <div class="accordion-body row">
                <div class="container">
                    <div class="row">
                        <p>Voici les listes actuellement chargées :</p>
                    </div>
                    <div class="row">
                        <ul id="activeLists"></ul>
                    </div>
                    <div class="row">
                        <h3>Ajouter une liste externe :</h3>
                        <div>
                            <label for="name-url">
                                Nom de votre liste :
                            </label>
                            <input
                                type="text"
                                id="name-url"
                                name="url"
                            >
                            <br>
                            <label for="url">
                                URL (vous pouvez utiliser le service <a target="blank" href="https://www.npoint.io">npoint</a>) : 
                            </label>
                            <input
                                type="text"
                                id="url"
                                name="url"
                            >
                            <input
                                type="button"
                                id="url-submit"
                                class="url-submit"
                                value="Ajouter la liste"
                            >
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item row">
          <h2 class="accordion-header container" id="headingTwo">
              <div class="row">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Personnalisation
                </button>
            </div>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse container" aria-labelledby="headingTwo" data-bs-parent="#accordionOfOptions">
            <div class="accordion-body row">
                    <input
                        type="checkbox"
                        id="formation"
                        name="formation"
                    />
                    <label for="formation">Personnaliser les tricks</label>
                </div>
                <section id="categories"></section>
            </div>
        </div>
        <div class="accordion-item row">
            <h2 class="accordion-header container" id="headingFour">
                <div class="row">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Paramètres
                    </button>
                </div>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse container" aria-labelledby="headingFour" data-bs-parent="#accordionOfOptions">
                <div class="accordion-body">
                    <div class="row">
                        <label for="color">Couleur du thème : </label>
                        <input
                            type="color"
                            id="color"
                            value="#B9C1DF"
                        >
                        </select>
                    </div>
                    <div class="row">
                        <label for="reset">Réinitialiser le plugin aux valeurs par défaut : </label>
                        <input
                            type="button"
                            id="reset-storage"
                            name="reset"
                            value="Restaurer"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../trick-list-options.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../bootstrap.bundle.min.js"></script>
</body>

</html>
