.job-rules {
    display: flex;
    flex-direction: column;

    .form {
        display: flex;
        margin-bottom: 20px;
        align-items: center;

        .form-name,
        .form-url {
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
        }
        .url-submit {
            margin-top: 0px;
            margin-left: 10px;
        }
    }
}

body {
    margin-right: 50%;
    width: max-content;
    height: min-content;
}

h1 {
    text-align: center;
}

label {
    font-size: medium;
}

#submit {
    text-align: center;
}

#categories {
    display: none;
}

#trickList {
    display: none;
}

input {
    font-size: medium;
}
