body {
    margin-right: 50%;
    width:  max-content;
    height: min-content;
}

h1 {
    text-align: left;
}

label {
    font-size: medium;
}

button {
	margin: 0;
	padding: 2% 3% 2% 3%;
	text-align: center;
	font-size: large;
}

#submit {
	text-align: center;
}

#categories {
	display: none;
}

#trickList {
    display: none;
}
